
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  font-family: 'Raleway', sans-serif;
}

header {
  display: flex;
  align-items: center;
  margin: 30px 10%;
}

header h1 {
  font-size: 25px;
}

header #logo {
  width: 25px;
  margin-right: 10px;
}

nav {
  margin-left: auto;
}

nav > ul {
  list-style: none;
}

nav > ul > li {
  display: inline-block;
  padding-left: 10px;
}

a {
  color: #0000008c;
  text-decoration: none;
}

a:hover {
  color: black;
}

#join-btn {
  font-weight: 700;
  color: black;
  border: 1px solid #0000008c;
  padding: 10px 30px;
  border-radius: 670px;
  transition: all 1s ease-in;
}

#join-btn:hover {
  background-image: linear-gradient(
    to left,
    #d4fc79 0%,
    #96e6a1 50%,
    #d4fc79 100%
  );
}