* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: white;
  font-family: 'Raleway', sans-serif;
}

#header {
  display: flex;
  align-items: center;
  margin: 30px 10%;
}

#header h1 {
  font-size: 25px;
  cursor: pointer;
}

#header #logo {
  width: 0px;
  margin-right: 5px;
}

@media screen and (max-width: 1020px) {
  #main {
    margin-top: 100px;
  }
  ul {
    display: none;
  }
  #aside {
    margin-left: 50px;
  }
  #email-input {
    display: inline-block;
    width: 30%;
    margin-left: 50px;
    margin-bottom: 20px;
  }
  #submit-button {
    display: inline-block;
    padding: 15px 50px;
    margin-left: 50px;
  }
}

@media screen and (max-width: 910px) {
  .word {
    display: none;
  }
}

@media screen and (min-width: 1021px) {
  #navbar-mobile {
    display: none;
  }
  #aside {
    margin-left: 50px;
  }
  #email-input {
    margin-bottom: 20px;
  }
}

#nav {
  margin-left: auto;
}

#nav > ul {
  list-style: none;
}

#nav > ul > li {
  display: inline-block;
  padding-left: 10px;
}

a {
  color: #0000008c;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.15s;
}

.home {
  color: #01baef;
}

.home:hover {
  color: #20bf55;
}

a:hover {
  color: black;
}

#join-btn {
  font-weight: 700;
  color: black;
  border: 1px solid #0000008c;
  padding: 10px 30px;
  border-radius: 670px;
  transition: all 0.15s ease-in;
}

#join-btn:hover {
  background-color: lightgreen;
}

#main {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#main .img-container {
  flex: 1;
}

#artimage {
  border-radius: 30% 70% 70% 30% / 30% 57% 43% 70%;
  margin: 50px 0px 0px 90px;
  width: 400px;
  height: 400px;
}

#main #aside {
  margin-right: 100px;
}

#aside h1 {
  margin-bottom: 15px;
}

#aside .paragraph {
  max-width: 500px;
  margin-bottom: 45px;
}

#email-input {
  border: none;
  border-radius: 6px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
  padding: 10px 0px 10px 15px;
  width: 200px;
  margin-right: 5px;
  outline: none;
}

#email-input::placeholder {
  color: gray;
}

@keyframes slide {
  0% {
    transform: translateX(-0%);
  }
  100% {
    transform: translateX(50%);
  }
}

#submit-button {
  background-image: linear-gradient(315deg, #20bf55 0%, #01baef 74%);
  color: white;
  font-size: 16px;
  font-weight: bolder;
  padding: 15px 50px;
  border: none;
  border-radius: 25px;
  animation: slide 3s ease-in-out 4 alternate;
}
